name: Android CI and Publish Debug APK

on:
  push:
    branches:
      - main
  release:
    types: [published]  # Trigger when a new release is published

jobs:
  build-and-publish-debug:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
- name: Cache Gradle Dependencies
       uses: actions/cache@v3
       with:
         path: ~/.gradle/caches
         key: gradle-caches-${{ runner.os }}-${{ hashFiles('**/*.gradle') }}
         restore-keys: |
           gradle-caches-${{ runner.os }}-
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build Debug APK
      run: ./gradlew assembleDebug  # Build the debug APK

    - name: Upload Debug APK to GitHub Releases
      uses: actions/upload-release-asset@v1
      with:
        upload_url: ${{ github.event.release.upload_url }}  # Automatically provided by GitHub
        asset_path: app/build/outputs/apk/debug/app-debug.apk  # Path to the debug APK
        asset_name: app-debug.apk  # Name of the APK file
        asset_content_type: application/vnd.android.package-archive  # MIME type for APK